/* CSS for website */

h1 , h2{
    border-bottom: 1px solid #EFEAEA!important;
    padding-bottom: 3px!important;
}

.book .book-body .page-wrapper .page-inner section.normal {
    min-height:350px!important;
    margin-bottom: 30px!important;
}

.book .book-body .page-wrapper .page-inner section.normal hr {
    height: 0px!important;
    padding: 0!important;
    margin: 1.7em 0!important;
    overflow: hidden!important;
    background-color: #e7e7e7!important;
    border-bottom: 1px dotted #e7e7e7!important;
}

/* 导航栏背景 */
.book.color-theme-1 .book-summary {
    background: url(../female-sugar-skull-art-web2.jpg) no-repeat!important;
    background-position: -150px 0px!important;
    color: #666!important;
}

/* 主体背景 */
.book.color-theme-1 .book-body ,
.book.color-theme-1 .book-body .page-wrapper .page-inner section{
    background: #e7e7e7!important;
}

/* 导航栏字体 */
.book.color-theme-1 .book-summary ul.summary li a {
    font-weight: bold!important;
    color: #fff!important;
}

/* 主体字体 */
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal {
    color: #333!important;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal pre {
    background: #333!important;
    color: #6799ff!important;
    
}

/* icon 颜色 */
.book.color-theme-1 .book-header .btn {
    color: #6799ff!important;
}


/* 标题 */
.book.color-theme-1 .book-header h1 {
    color: #6799ff!important;
    font-weight: bold!important;
}

















